<!-- layouts/asideLayout.html -->
<th:block th:fragment="layout(title, asideTitle, asideItems, content)">
    <!DOCTYPE html>
    <html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head :: head(title=${title})"></head>
    <body class="row">
    <header th:replace="fragments/header :: header"></header>
    <aside th:replace="fragments/aside :: aside(
        title=${asideTitle},
        items=${asideItems},
        classes='col-2',
        style='height: 100vh; overflow-y: auto;')">
    </aside>

    <main class="col-10 p-2">
        <div th:replace="${content}"></div>
    </main>
    <script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
    </body>
    </html>
</th:block>
