<th:block th:fragment="content">
    <div class="text-center mt-5">
        <h1>Panel de Administrador</h1>
        <p>Como Administrador podrás:</p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Registrar y editar médicos</li>
            <li class="list-group-item">Registrar y editar pacientes</li>
            <li class="list-group-item">Visualizar historiales de consultas</li>
            <li class="list-group-item">Gestionar roles y permisos</li>
        </ul>
    </div>
</th:block>