<aside xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <h5>Menú</h5>
  <ul class="nav flex-column">

    <!-- Ítems genéricos para todos -->
    <li th:each="item : ${Items.asideConsultas}">
      <a th:href="@{${item.href}}" th:text="${item.text}" class="nav-link"></a>
    </li>
    <li th:each="item : ${Items.asidePacientes}">
      <a th:href="@{${item.href}}" th:text="${item.text}" class="nav-link"></a>
    </li>

    <!-- Ítems sólo para ADMIN -->
    <li sec:authorize="hasRole('ADMIN')" th:each="item : ${Items.asideAdmin}">
      <a th:href="@{${item.href}}" th:text="${item.text}" class="nav-link"></a>
    </li>
    <li sec:authorize="hasRole('ADMIN')" th:each="item : ${Items.asideMedicos}">
      <a th:href="@{${item.href}}" th:text="${item.text}" class="nav-link"></a>
    </li>

  </ul>
</aside>
